// Colors

$background-gray-light: #f2f2f2;
$color-white: #ffffff;
$color-primary-dark: #13183f;
$color-primary-light: #666ca3;
$color-text-light: #84879a;
$color-secondary-light: #ff6f48;
$color-secondary-dark: #f02aa6;
$color-white-gradient: rgba(255, 255, 255, 0.5);
$shadow-1: rgba(6, 22, 141, 0.0442381);
