// Colors

$background-gray-light: hsl(0, 0%, 95%);
$color-white: hsl(0, 0%, 100%);
$color-primary-dark: hsl(233, 54%, 16%);
$color-primary-light: hsla(234, 25%, 52%, 1);
$color-text-light: hsl(232, 10%, 56%);
$color-secondary-light: #ff6f48;
$color-secondary-dark: #f02aa6;
$color-white-gradient: rgba(255, 255, 255, 0.5);
