@use "../abstracts" as *;

.header {
  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10rem;
    overflow: hidden;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1.6rem 0;
    }

    &_text-box {
      width: 40%;
      height: 100%;
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      gap: 5rem;

      @include respond(tab-land) {
        padding-bottom: 0;
        gap: 2rem;
      }

      @include respond(phone) {
        width: 100%;
        gap: 3rem;
      }
    }

    &-img-wrapper {
      height: 100%;
      width: 60%;

      @include respond(phone) {
        width: 100%;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(260px, -90px);

      @include respond(tab-land) {
        transform: translate(140px, -50px);
      }

      @include respond(phone) {
        transform: translate(0, 0);
      }

      &--desktop {
        display: inline;
      }

      &--tab {
        display: none;
      }
      &--mobile {
        display: none;
      }

      @include respond(tab-land) {
        &--tab {
          display: inline;
        }

        &--desktop {
          display: none;
        }

        &--mobile {
          display: none;
        }
      }

      @include respond(phone) {
        &--mobile {
          display: inline;
        }

        &--desktop {
          display: none;
        }

        &--tab {
          display: none;
        }
      }
    }

    &_cta {
      background-image: linear-gradient(
        180deg,
        $color-secondary-light 0%,
        $color-secondary-dark 100%
      );
      border-radius: 31.5px;
      padding: 1.4rem 1.6rem;
      transition: 1s ease-out;

      &:hover {
        background-image: linear-gradient(
            0deg,
            $color-white-gradient,
            $color-white-gradient
          ),
          linear-gradient(
            180deg,
            $color-secondary-light 0%,
            $color-secondary-dark 100%
          );
      }
    }
  }
}
